MYSQL_DATABASE=auramarket
MYSQL_HOST=db
MYSQL_PASSWORD=password
MYSQL_PORT=3306
MYSQL_USER=user

SPRING_DATASOURCE_URL=jdbc:mysql://YOUR-RDS-ENDPOINT:3306/mydatabase?createDatabaseIfNotExist=true&allowPublicKeyRetrieval=true&useSSL=false
SPRING_DATASOURCE_USERNAME=admin
SPRING_DATASOURCE_PASSWORD=password123

STRIPE_API_KEY=sk_test_51xxxxxxxxxxxxxxxxxxxxxxxx

CLOUDINARY_CLOUD_NAME=demo-cloud
CLOUDINARY_API_KEY=123456789012345
CLOUDINARY_API_SECRET=abcdef123456789xyz

VITE_BACKEND_API_URL=http://localhost:8000
VITE_FIREBASE_API_KEY=demo_firebase_api_key
VITE_FIREBASE_APP_ID=demo_firebase_app_id
VITE_FIREBASE_AUTH_DOMAIN=demo-app.firebaseapp.com
VITE_FIREBASE_FIRESTORE_DATABASE_ID=ai-studio-pythonfullstacke-94873c01-bb13-4c50-a848-b55180c4e230
VITE_FIREBASE_MESSAGING_SENDER_ID=1234567890
VITE_FIREBASE_PROJECT_ID=demo-project-id
VITE_FIREBASE_STORAGE_BUCKET=demo-app.appspot.com
